# Build outputs
bin/
obj/

# VS / VS Code
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# .NET
*.dll
*.pdb
*.exe
project.lock.json

# NuGet
*.nupkg
.nuget/
packages/

# Sensitive config
appsettings.Development.json
appsettings.Production.json

# # Test Results
# TestResults/
# coverage-report/
# *.trx
# *.coveragexml